uvicorn==0.29.0
pyserial==3.5
python-socketio==5.11.2



NOTE:::

POST Mane URL :-   ws://127.0.0.1:5000/

script:-

    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>    @include('sales.sales._script.script')
    <script >
          var N = '';
        var G = '';
        var T = '';

        var socket = io.connect("ws://localhost:5000");
        socket.on('serial_data', function(data) {

            if (data .slice(-1) == 'N')
            {
                N=data
                $('#product-1').val(N)
            }
            else if (data .slice(-1) == 'G')
            {
                G=data
            }
            else if (data .slice(-1) == 'T')
            {
                T=data
            }
            


        });

Or 
when by class 


socket.on('serial_data', function(data) {
            var focusedRow = $(':focus').closest('tr'); // Get the row containing the focused input field

            if (focusedRow.length > 0) { // Check if a row containing the focused input field exists
                if (data.slice(-1) == 'N') {
                    var N = parseFloat(data.match(/[\d.]+/)[0]);
                    focusedRow.find('.input-N').val(N);
                } else if (data.slice(-1) == 'G') {
                    var G = parseFloat(data.match(/[\d.]+/)[0]);
                    focusedRow.find('.input-G').val(G);
                } else if (data.slice(-1) == 'T') {
                    var T = parseFloat(data.match(/[\d.]+/)[0]);
                    focusedRow.find('.input-T').val(T);
                }
            }
        });
    </script>
